﻿@model ButterfliesShop.Models.Butterfly
@using ButterfliesShop.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link type="text/css" rel="stylesheet" href="~/css/butterflies-shop-styles.css" />
</head>
<body>
    <div class="container">
        <h1 class=" main-title">Add Butterflies to the Shop</h1>
        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="All">

            </div>

            <div class="form-field">
                <label asp-for="CommonName"></label>
                <input asp-for="CommonName" />
                <span asp-validation-for="CommonName"></span>
            </div>

            <div class="form-field">
                <label asp-for="ButterflyFamily"></label>
                <select asp-for="ButterflyFamily" asp-items="@Html.GetEnumSelectList<Family>()">
                    <option selected="selected">
                        Select
                    </option>
                </select>
                <span asp-validation-for="ButterflyFamily"></span>
            </div>

            <div class="form-field">
                <label asp-for="Characteristics"></label>
                <textarea asp-for="Characteristics"></textarea>
                <span asp-validation-for="Characteristics"></span>
            </div>

            <div class="form-field">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" />
                <span asp-validation-for="Quantity"></span>
            </div>

            <div class="form-field">
                <label asp-for="PhotoAvatar"></label>
                <input asp-for="PhotoAvatar" />
                <span asp-validation-for="PhotoAvatar"></span>
            </div>


            <div class="form-field">
                <input type="submit" value="submit" />
            </div>
        </form>
    </div>
</body>
</html>
