﻿@model ButterfliesShop.Models.IndexViewModel

@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/css/butterflies-shop-styles.css" />
</head>
<body>
    <div class="container">
        <h1 class=" main-title">
            Butterflies Shop
        </h1>
        <p class="into">
            Welcome to our Web Store, Enjoy a Wide Variety of Butterflies
        </p>
        <p class="into">
            Our Butterflies in the Shop
        </p>
        <button type="button" onclick="location.href='@Url.Action("Create", "Butterfly")'">Add Butterflies</button>

        <div class="row">
            @foreach (var item in Model.Butterflies)
            {
<div class="col-10">

    <h1>@Html.DisplayFor(modelItem => item.CommonName)</h1>

    @if (item.ImageName != null)
    {
<div class="photo-display">
    <img class="photo-display-img" src="@Url.Action("GetImage", "Butterfly", new { Id = item.Id })" />
</div>          }

    <div class="display-info">
        <p class="display-label">
            @Html.DisplayNameFor(x => item.ButterflyFamily)
        </p><br />
        <p class="display-field">
            @Html.DisplayFor(x => item.ButterflyFamily)
        </p>
    </div>

    <div class="display-info">
        <p class="display-label">
            @Html.DisplayNameFor(x => item.Characteristics)
        </p>
        <p class="display-field">
            @Html.DisplayFor(x => item.Characteristics)
        </p>
    </div>
    <div class="display-info">
        <p class="display-label">
            @Html.DisplayNameFor(x => item.Quantity)
        </p>
        <p class="display-field">
            @Html.DisplayFor(x => item.Quantity)
        </p>
    </div>
    <div class="display-info">
        <p class="display-label">
            @Html.DisplayNameFor(x => item.CreatedDate)
        </p>
        <p class="display-field">
            @Html.DisplayFor(x => item.CreatedDate)
        </p>
    </div>
    <hr />
</div>      }
        </div>
    </div>
</body>
</html>
